# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
alabaster=0.7.12=pyhd3eb1b0_0
anndata=0.8.0=pyhd8ed1ab_1
appdirs=1.4.4=pyhd3eb1b0_0
appnope=0.1.3=pypi_0
asttokens=2.2.1=pypi_0
attrs=23.1.0=pypi_0
babel=2.11.0=pyhd8ed1ab_0
backcall=0.2.0=pypi_0
beautifulsoup4=4.12.2=pypi_0
blas=2.116=openblas
blas-devel=3.9.0=16_osx64_openblas
bleach=6.0.0=pypi_0
bottleneck=1.3.5=py311hd5badaa_1
brotlipy=0.7.0=py311h5547dcb_1005
bzip2=1.0.8=h1de35cc_0
c-ares=1.19.0=h6c40b1e_0
ca-certificates=2023.05.30=hecd8cb5_0
cached-property=1.5.2=py_0
certifi=2023.5.7=py311hecd8cb5_0
cffi=1.15.1=py311ha86e640_2
charset-normalizer=3.0.0=pyhd8ed1ab_0
colorama=0.4.6=pyhd8ed1ab_0
contourpy=1.1.0=pypi_0
cryptography=39.0.1=py311hf6deb26_2
cycler=0.11.0=pypi_0
decorator=5.1.1=pypi_0
defusedxml=0.7.1=pypi_0
docutils=0.19=py311h6eed73b_1
executing=1.2.0=pypi_0
fastjsonschema=2.17.1=pypi_0
fonttools=4.40.0=pypi_0
h5py=3.7.0=nompi_py311h777de7a_102
hdf5=1.12.2=nompi_h1f71328_100
idna=3.4=pyhd8ed1ab_0
imagesize=1.4.1=pyhd8ed1ab_0
importlib-metadata=6.0.0=py311hecd8cb5_0
importlib_metadata=6.0.0=hd3eb1b0_0
ipython=8.14.0=pypi_0
jedi=0.18.2=pypi_0
jinja2=3.1.2=pyhd8ed1ab_1
joblib=1.3.1=pypi_0
jsonschema=4.17.3=pypi_0
jupyter-client=8.3.0=pypi_0
jupyter-core=5.3.1=pypi_0
jupyterlab-pygments=0.2.2=pypi_0
kiwisolver=1.4.4=pypi_0
krb5=1.20.1=h428f121_1
libblas=3.9.0=16_osx64_openblas
libcblas=3.9.0=16_osx64_openblas
libcurl=8.1.1=hf20ceda_1
libcxx=14.0.6=hccf4f1f_0
libedit=3.1.20221030=h6c40b1e_0
libev=4.33=h9ed2024_1
libffi=3.4.4=hecd8cb5_0
libgfortran=5.0.0=11_2_0_h246ff09_26
libgfortran5=11.3.0=h082f757_26
liblapack=3.9.0=16_osx64_openblas
liblapacke=3.9.0=16_osx64_openblas
libnghttp2=1.52.0=h9beae6a_1
libopenblas=0.3.21=openmp_h429af6e_3
libssh2=1.10.0=h47af595_3
libzlib=1.2.13=hfd90126_4
llvm-openmp=15.0.5=h61d9ccf_0
markupsafe=2.1.1=py311h5547dcb_2
matplotlib=3.7.2=pypi_0
matplotlib-inline=0.1.6=pypi_0
mistune=3.0.1=pypi_0
natsort=8.2.0=pyhd8ed1ab_0
nbclient=0.8.0=pypi_0
nbconvert=7.6.0=pypi_0
nbformat=5.9.0=pypi_0
nbsphinx=0.9.2=pypi_0
ncurses=6.4=hcec6c5f_0
numexpr=2.8.4=py311hd0e4f0d_1
numpy=1.25.0=py311h91b6869_0
numpy-base=1.25.0=py311hb3ec012_0
openblas=0.3.21=openmp_hbefa662_3
openssl=3.0.9=hca72f7f_0
packaging=23.0=py311hecd8cb5_0
pandas=1.5.3=py311hc5848a5_0
pandocfilters=1.5.0=pypi_0
parso=0.8.3=pypi_0
patsy=0.5.3=pypi_0
pexpect=4.8.0=pypi_0
pickleshare=0.7.5=pypi_0
pillow=10.0.0=pypi_0
pip=23.1.2=py311hecd8cb5_0
platformdirs=3.8.0=pypi_0
pooch=1.6.0=pyhd8ed1ab_0
prompt-toolkit=3.0.39=pypi_0
ptyprocess=0.7.0=pypi_0
pure-eval=0.2.2=pypi_0
pycparser=2.21=pyhd3eb1b0_0
pydeseq2=0.3.5=pypi_0
pygments=2.15.1=py311hecd8cb5_1
pyopenssl=23.0.0=py311hecd8cb5_0
pyparsing=3.0.9=pypi_0
pyrsistent=0.19.3=pypi_0
pysocks=1.7.1=pyha2e5f31_6
python=3.11.4=hf27a42d_0
python-dateutil=2.8.2=pyhd3eb1b0_0
python_abi=3.11=2_cp311
pytz=2022.7=py311hecd8cb5_0
pyzmq=25.1.0=pypi_0
readline=8.2=hca72f7f_0
requests=2.29.0=py311hecd8cb5_0
scikit-learn=1.3.0=pypi_0
scipy=1.10.1=py311h7695dc5_1
setuptools=67.8.0=py311hecd8cb5_0
six=1.16.0=pyhd3eb1b0_1
snowballstemmer=2.2.0=pyhd3eb1b0_0
soupsieve=2.4.1=pypi_0
sphinx=5.3.0=pyhd8ed1ab_0
sphinx-rtd-theme=0.4.3=pypi_0
sphinx_bootstrap_theme=0.8.1=pyhd8ed1ab_0
sphinxcontrib-applehelp=1.0.2=pyhd3eb1b0_0
sphinxcontrib-devhelp=1.0.2=pyhd3eb1b0_0
sphinxcontrib-htmlhelp=2.0.0=pyhd3eb1b0_0
sphinxcontrib-jsmath=1.0.1=pyhd3eb1b0_0
sphinxcontrib-qthelp=1.0.3=pyhd3eb1b0_0
sphinxcontrib-serializinghtml=1.1.5=pyhd3eb1b0_0
sqlite=3.41.2=h6c40b1e_0
stack-data=0.6.2=pypi_0
statsmodels=0.14.0=pypi_0
threadpoolctl=3.1.0=pypi_0
tinycss2=1.2.1=pypi_0
tk=8.6.12=h5d9f67b_0
tornado=6.3.2=pypi_0
traitlets=5.9.0=pypi_0
typing_extensions=4.6.3=py311hecd8cb5_0
tzdata=2023c=h04d1e81_0
urllib3=1.26.16=py311hecd8cb5_0
wcwidth=0.2.6=pypi_0
webencodings=0.5.1=pypi_0
wheel=0.38.4=pyhd8ed1ab_0
xz=5.4.2=h6c40b1e_0
zipp=3.11.0=py311hecd8cb5_0
zlib=1.2.13=hfd90126_4
